<h2>CV</h2>
<ul>
  <li><strong>Co-founder, Board Member</strong> - Threat Stack, Inc</li>
  <li><strong>Chief Scientist</strong> - Threat Stack, Inc</li>
  <li><strong>Research Engineer</strong> - Mandiant Corp (Acquired by FireEye)</li>
</ul>
<a href="/resume.html">more...<a>

<h2>Writing/Press</h2>
<ul>
  <li></li>
</ul>

<h2>Open Source</h2>
<ul>
  <li>go-proc (author), a /proc library interface (written in Go)</li> 
  <li>Pigsty (author), a unified spooler (written in Node.js)</li> 
  <li>Snorby (contributor), A snort front end (Ruby on Rails)</li> 
</ul>

<a href="http://github.com/jandre">more...<a>
<h2>Speaking</h2>
<ul>
  <li>"Xconomy Tech Agenda 2015 (Panelist on 'Hackers and Snoops, From the Cloud to the Cash Register')", December 2014</li>
  <li>"Getting Started With Go", Boston Golang Meetup, Nov 2014</li>
  <li>"Advanced Monitoring and Detection on Linux-based workloads in AWS: What to do when you don’t own the network infrastructure", Boston AWS Meetup, Boston, June 2014</li>
  <li>"Auditing All of the Things", Monitorama, Portland, April 2014</li>
  <li>"Exposing Native Code Through V8", Node.dc Meetup, DC, June 2013</li>
</ul>
<a href="/talks.html">more...<a>

<hr />

<h2>Where to Find Me </h2>
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/jandre">github.com/jandre</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/fun_cuddles">@fun_cuddles</a>
  </li>

  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:jandre REMOVE THIS PLZ@gmail.com">jandre at the gmail</a>
  </li>
</ul>
