<h2>CV</h2>
<ul>
  <li><strong>Co-founder, Board Member</strong> - Threat Stack, Inc</li>
  <li><strong>Chief Scientist</strong> - Threat Stack, Inc</li>
  <li><strong>Research Engineer</strong> - Mandiant Corp (Acquired by FireEye)</li>
</ul>

<p>
I'm also an organizer for the <a href="http://www.meetup.com/Boston-Go-lang-User-Group/"><strong>Boston Golang Meetup Group</strong></a>
</p>
<a href="/resume.html">more...</a>

<h2>Writing</h2>
<ul>

  <li><a href="https://medium.com/@fun_cuddles/after-all-this-time-we-still-can-t-crypto-d728e690030f">"After all this time, we still can't crypto"</a> -April 2015</li>
  <li><a href="http://www.scmagazine.com/debate-your-money-is-safe-online/article/403375/">"Debate: Is your money safe online?"</a>SC Magazine - April 2015</li>
  <li><a href="http://blog.threatstack.com/the-linux-grinch-vulnerability-separating-the-fact-from-the-fud">"The Linux Grinch Vulnerability - Separating fact from FUD"</a> - Dec 2014</li>
  <li><a href="https://medium.com/i-m-h-o/i-long-for-the-future-where-i-can-safely-assume-my-passwords-are-stolen-898b8f78b021">"I long for the future where I can safely assume my passwords are stolen"</a> - Apr 2013</li>
  <li><a href="https://medium.com/@fun_cuddles/docker-breakout-exploit-analysis-a274fff0e6b3">Docker Breakout Exploit Analysis</a> - June 2014</li>
</ul>
<a href="https://medium.com/@fun_cuddles">more...</a> and <a href="http://blog.threatstack.com/author/jen-andre">more...</a>

<h2>Open Source</h2>
<ul>
  <li><a href="https://github.com/jandre/keyutils">keyutils</a> (author), Go bindings for libkeyutils</li> 
  <li><a href="https://github.com/jandre/procfs">procfs</a> (author), a /proc library interface for Go</li> 
  <li><a href="https://github.com/threatstack/pigsty">Pigsty</a> (author), a unified spooler (to replace barnyard2)</li> 
  <li><a href="https://github.com/Snorby/snorby">Snorby</a> (contributor), A snort front end</li> 
</ul>
<a href="http://github.com/jandre">more...</a>

<h2>Press</h2>
<ul>
  <li><a href="http://www.slate.com/articles/technology/bitwise/2015/04/nq_mobile_vault_the_popular_encryption_app_has_laughably_crackable_encryption.single.html">Fghcvq Is as Fghcvq Does</a> - Slate, April 2015</li> 
  <li><a href="http://www.pcworld.com/article/2861332/the-grinch-isnt-a-linux-vulnerability-red-hat-says.html">The 'grinch' isn't a Linux vulnerability, Red Hat says</a> - PCWorld, Dec 2014</li> 
</ul>

<h2>Speaking</h2>
<ul>
  <li>(Upcoming) Velocity Conf 2015, Santa Clara</li>
  <li>(Upcoming) Gluecon 2015, Denver, CO</li>
  <li><a href="http://www.xconomy.com/boston/agenda-the-tech-agenda-2015/">"Xconomy Tech Agenda 2015 (Panelist on 'Hackers and Snoops, From the Cloud to the Cash Register')"</a>, December 2014</li>
  <li><a href="http://www.meetup.com/Boston-Go-lang-User-Group/events/215263392/">"Getting Started With Go"</a>, Boston Golang Meetup, Nov 2014</li>
  <li><a href="http://www.slideshare.net/JenAndre/threat-stack-aws">"Cloud Security In An Uncertain Age"</a>, Boston AWS Meetup, Boston, June 2014</li>
  <li><a href="https://vimeo.com/95223102">"Auditing All of the Things"</a>, Monitorama, Portland, April 2014</li>
  <li><a href="http://jandre.github.io/node-native-presentation/slides/#/">"Exposing Native Code Through V8"</a>, Node.dc Meetup, DC, June 2013</li>
</ul>
<a href="/talks.html">more...<a>

<hr />

<h2>Where to Find Me </h2>
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/jandre">github.com/jandre</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/fun_cuddles">@fun_cuddles</a>
  </li>

  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:jandre REMOVE THIS PLEASE@gmail.com">jandre at the gmail</a>
  </li>
</ul>
